body {
    background-color: black;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.column {
    width: 50%;
    float: center;
    padding: 5px;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}