body {
    background-color: black;
}

h1 {
    color: rgb(127, 0, 3);
}

.column {
    width: 50%;
    float: center;
    padding: 5px;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}