body {
    background-color: black;
}

.red_text {
    color: rgb(127, 0, 3);
}

.black_text {
    color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.flex-container > div {
  background-color: black;
  width: 50%;
  margin: 5px;
  text-align: center;
  color: rgb(127, 0, 3);
}

.button {
 width: 150px;
 padding: 15px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
